{% extends main.html%}

{%block content %}

<div id="page_per_center" class="page-view-data">
    <div class="container wrap">
        <div class="section section-acnt">
            <ul class="tab-type clearfix">
                <li class="active"><a href="/user/setting/account">账户信息</a></li>
				<li ><a href="/user/setting/base">修改资料</a></li>               
            </ul>
            <div class="section-user-data">
    <div class="acnt-info-box js-acnt-info-box clearfix">
        <div class="acnt-item clearfix">
            <span class="card-label "><i class="i-icon icon-round-ok"></i>用户名：</span>
            <span class="">半夜一声笑</span>
        </div>

        <div class="acnt-item js-acnt-item clearfix" id="mdf_head">
            <div class="acnt-item-top js-acnt-item-top">
                <span class="card-label "><i class="i-icon icon-round-ok"></i>头像<span class="card-label-mh">：</span></span>
                <span class="card-label-cnt"><span class="head50"><img class="js-head-img" src="http://images.huxiu.com/auth/data/avatar/001/36/49/93_avatar_middle.jpg" alt="head50.jpg" /></span></span>
                <div class="btn-box clearfix">
                    <a class="opt-modify" href="javascript:void(0);"><span class="js-text">修改</span><span class="sign-r">+</span></a>
                    <a class="opt-collapse hidden" href="javascript:void(0);"><span class="js-text">收起</span><span class="sign-r">-</span></a>
                </div>
            </div>
            <ul class="under-ul">
                <li><span class="span-color-a2">仅支持JPG、PNG格式的图片文件，小于2MB</span></li>
                <li >
                    <script src="/static/js/swfobject.js"></script>
                    <script src="/static/js/fullAvatarEditor.js"></script>
                    <div style="margin: 0 auto;">
                        <div id="avatar_uploader">
                            本组件需要安装Flash Player后才可使用，请从
                            <a href="http://www.adobe.com/go/getflashplayer">这里</a>
                            下载安装
                        </div>
                    </div>

                    <button id="upload" class="btn btn-blue disabled">上传头像</button>

                </li>
            </ul>
        </div>

        <div class="acnt-item js-acnt-item clearfix" id="mdf_email">
            <div class="acnt-item-top js-acnt-item-top clearfix">
                <span class="card-label "><i class="i-icon icon-round-ok"></i>邮箱<span class="card-label-mh">：</span></span>
                <span class="card-label-cnt"><span class="js-card-email">haoshaoting1111@163.com</span></span>
                <div class="btn-box clearfix">
                    <a class="opt-modify" href="javascript:void(0);"><span class="js-text">修改</span><span class="sign-r">+</span></a>
                    <a class="opt-collapse hidden" href="javascript:void(0);"><span class="js-text">收起</span><span class="sign-r">-</span></a>
                </div>
            </div>
            <ul class="under-ul js-ul-box">
                <li class="alert hidden"></li>
                <li class="clearfix">
                    <span class="span-l">当前邮箱：</span>
                    <span class="js-resend-email">haoshaoting1111@163.com</span>
                    </li>
                <li class="clearfix js-item"><span class="span-l">密码：</span><input name="password" class="form-control" type="password" /></li>
                <li class="clearfix js-item"><span class="span-l">新邮箱：</span><input name="email" class="form-control" type="text" /></li>
                <li><button class="btn btn-blue js-mdf-email">完成</button>
                                        <span class="span-color-a2 js-tip" style="margin-left: 10px"></span>
                </li>
            </ul>
        </div>

        <div class="acnt-item js-acnt-item clearfix" id="mdf_mobile">
            <div class="acnt-item-top js-acnt-item-top clearfix">
                <span class="card-label "><i class="i-icon icon-round-warning"></i>手机<span class="card-label-mh">：</span></span>
                <span class="card-label-cnt"><span></span></span>
                <div class="btn-box clearfix">
                    <a class="opt-modify" href="javascript:void(0);"><span class="js-text">修改</span><span class="sign-r">+</span></a>
                    <a class="opt-collapse hidden" href="javascript:void(0);"><span class="js-text">收起</span><span class="sign-r">-</span></a>
                </div>
            </div>
            <ul class="under-ul js-ul-box">
                <li class="alert hidden"></li>
                <li class="clearfix"><span class="span-l">当前手机：</span></li>
                <!--                <li class="clearfix js-item"><span class="span-l">密码：</span><input class="form-control" type="password" /></li> -->
                <li class="clearfix js-item">
                    <script async type="text/javascript" src="http://api.geetest.com/get.php?gt=548c2cafa30429971157b61ab991bfe8"></script>                </li>
                <li class="clearfix js-item"><span class="span-l">密码：</span><input name="password" class="form-control" type="password" placeholder="登录密码"/></li>
                <li class="clearfix js-item"><span class="span-l">新手机：</span><input name="regphone" class="form-control js-reg-phone" type="text" /></li>
                <li class="clearfix js-item code-item">
                    <span class="span-l">验证码：</span><input name="captcha" class="form-control" type="text" />
                    <button class="btn btn-sm btn-gradient js-btn-captcha-phone">免费获取</button></li>
                <li><button class="btn btn-blue js-mdf-phone">完成</button></li>
            </ul>
        </div>

        <div class="acnt-item js-acnt-item clearfix" id="mdf_pw">
            <div class="acnt-item-top js-acnt-item-top clearfix">
                <span class="card-label "><i class="i-icon icon-round-ok"></i>密码<span class="card-label-mh">：</span></span>
                <span class="card-label-cnt"></span>
                <div class="btn-box clearfix">
                    <a class="opt-modify " href="javascript:void(0);"><span class="js-text">修改</span><span class="sign-r">+</span></a>
                    <a class="opt-collapse hidden" href="javascript:void(0);"><span class="js-text">收起</span><span class="sign-r">-</span></a>
                </div>
            </div>
            <ul class="under-ul js-ul-box">
                <li class="alert hidden"></li>
                <li class="clearfix js-item"><span class="span-l">密码：</span><input class="form-control" type="password" name="oldpassword"/></li>
                <li class="clearfix js-item"><span class="span-l">新密码：</span><input class="form-control" type="password" name="password1" /></li>
                <li class="clearfix js-item"><span class="span-l">确认密码：</span><input class="form-control" type="password" name="password2"/></li>
                <li><button class="btn btn-blue js-reset-pw">完成</button></li>
            </ul>
        </div>
    </div>

</div>        </div>
    </div>
</div>

{%end%}

