<div class="clearfix mod-b mod-art">
	<a class="pull-left mod-thumb" href="/article/115695/1.html" target="_blank">
		<img src="{{toy['pic']}}">
	</a>
	<div class="mob-ctt">
		<h3>
			<a href="/article/115695/1.html" target="_blank">{{toy['title']}}</a>
		</h3>
		<div class="mob-author">
			<span class="author">
				<a class="author-name hx-card" href="usr/{{toy['author']}}">{{toy['author']}}</a>
			</span>
			<time class="time">2015-05-21 12:15</time>
		</div>
		<div class="mob-sub">{{toy['description']}}</div>
		<div class="clearfix mob-other">
			<ul class="pull-left list-inline tag-box">
				<li><a href="/tags/29.html" target="_blank">创业</a></li>
				<li><a href="/tags/78.html" target="_blank">经验教训</a></li>
				<li><a href="/tags/413.html" target="_blank">管理</a></li>
			</ul>
			<span class="pull-right action-box">
				<span class="share-box js-list-share-btn" aid="115695" href="#"  title="分享">
					<i class="i-icon2 icon-share-box"></i><em></em>
					<div class="hide"></div>
				</span>
				<a class="fvr js-fvr-btn" href="javascript:void(0);" aid="115695" actype="unread" title="收藏数">
					<i class="i-icon icon-fvr"></i><em></em>
				</a>
				<a class="cmt" href="/comment/115695/1.html" title="评论" target="_blank">
					<i class="i-icon icon-cmt"></i><em>11</em>
				</a>				
			</span>
		</div>
	</div>
</div>

