<html>  
    <head>  
        <meta charset="utf-8">
		<title>{{title}} - Toy</title> 
		<link href="../static/css/bootstrap.min.css?v=201504231835" rel="stylesheet">
		<link href="../static/css/style.css?v=2015050505" rel="stylesheet">		
    </head>  
	
    <body>  
	<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
	<div class="top navbar-inverse">
		<div class="container">
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right manuscript">
					<!--<li class="active">
						<span class="s-btn dropdown-toggle js-btn-taogao" data-toggle="dropdown">投稿</span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/contribute.html?action=newdraft">文章投稿<i class="glyphicon glyphicon-question-sign tool-tip" data-placement="right"  title="原创文章丢过来"></i></a></li>
							<li><a href="/contribute.html?type=read&action=newdraft">读点投稿<i class="glyphicon glyphicon-question-sign tool-tip" data-placement="right"  title="推荐书给虎嗅读点"></i></a></li>
							<li><a class="js-draft-box" href="/member/draft_article.html">&nbsp;&nbsp;&nbsp;草稿箱<span></span><i class="glyphicon glyphicon-question-sign tool-tip" data-placement="right"  title="未投递的草稿都存在这里"></i></a></li>
							<li class="divider"></li>
							<li><a href="/zhuanti/hxchuangyehui.html">创业报道<i class="glyphicon glyphicon-question-sign tool-tip" data-placement="right"  title="提交公司信息，寻求创业报道"></i></a></li>
						</ul>
					</li>-->		
						<li><a href="#" >{{name}}</a></li>
						<li><a class="moder-lgn-box" href="login" >登录</a></li>
						<li><a href="register" >注册</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand"><img src="../static/img/logo.png" alt="logo.png" /></a>
			</div>
			<nav class="collapse navbar-collapse " role="navigation">
				<form class="navbar-form navbar-right" role="search" method="get" action="/search.html">
					<div class="form-group">
						<input type="text" name="s" class="form-control js-input-search" placeholder="请输入查询内容" value="">
						<button type="submit" class=""></button>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-news ">
						<a href="/">资讯</a>
						<ul class="nav-menu2">
							<li><a href="/focus">看点<i></i></a></li>
							<li><a href="/opinions">观点<i></i></a></li>
							<li><a href="/books">读点<i></i></a></li>
							<li><a href="/photo">图说<i></i></a></li>
							<li><a href="/tags">标签<i></i></a></li>
						</ul>
					</li>
					<li ><a href="/products" target="_blank">用点</a></li>
					<li ><a href="/collections" target="_blank">文集</a></li>
					<li class="nav-news ">
						<a href="/active" id="hx-active">活动</a>
						<ul class="nav-menu2">
							<li ><a>虎嗅活动<span class="i-icon2 icon-top-right"></span></a>
								<ul class="nav-menu3">
									<li><a href="http://www.huxiu.com/active/content/30/1.html" target="_blank">TOP DAY<i></i></a></li>
									<li><a href="http://www.huxiu.com/active/content/28/1.html" target="_blank">上道沙龙<i></i></a></li>
									<li><a href="/zhuanti/2014winterfm" target="_blank">F&M节<i></i></a></li>
									<li><a href="/zhuanti/hx2015xmtyx" target="_blank">WoW!营销会<i></i></a></li>
									<li><a href="/zhuanti/hxtingshuhui8" target="_blank">虎嗅听书会<i></i></a></li>                                <li><a href="/special" target="_blank">更多虎嗅活动<i></i></a></li>
								</ul>
							</li>
							<li><a href="#">活动日历<i></i></a></li>
						</ul>
					</li>
					<li ><a href="#" target="_blank">群组</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
        <content>  
        {%block content%}  
        {%end%}  
        </content>  
          
    <footer class="bs-docs-footer" role="contentinfo">
		<div class="footer-nav">
			<div class="container">
				<ul class="about-ul list-inline clearfix">
					<li><a href="#" >关于我们</a></li>
					<li><a href="#" >加入我们</a></li>
					<li><a href="#" >广告及服务</a></li>
					<li><a href="#" >常见问题解答</a></li>
				</ul>
			</div>
		</div>
		<div class="container copy-right">
			<span>Copyright © haonima</span>
			
		</div>
	</footer>
        
    </body>  
</html>